@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<p>Ми дуже цінуємо вашу конфіденційність. Ця сторінка визначає, як ми збираємо, використовуємо, захищаємо та розкриваємо інформацію, яку ви нам надаєте під час використання цього додатка.</p>

<h2>Збір і використання інформації</h2>
<p>Цей додаток не збирає, не зберігає або не використовує жодної особисто впізнавальної інформації користувачів. Весь контент, який ви створюєте або вводите у додаток, залишається локально на вашому пристрої і не надсилається на зовнішні сервери.</p>

<h2>Використання файлів cookie</h2>
<p>Цей додаток може використовувати файли cookie тільки для забезпечення функціональності, такої як зберігання налаштувань користувача. Ці файли cookie не містять особисто впізнавальної інформації та не використовуються для відстеження вас.</p>

<h2>Зміни в політиці конфіденційності</h2>
<p>Ми можемо час від часу оновлювати цю політику конфіденційності. Ми рекомендуємо вам періодично переглядати цю сторінку для отримання останніх оновлень.</p>

